<h1>Post Details</h1>

<%= turbo_frame_tag dom_id(@post, :title) do %>
  <%= render "title", post: @post %>
<% end %>

<h2>Comments</h2>

<%= turbo_frame_tag "new_comment" do %>
  <%= render "comments/form", comment: Comment.new, post: @post %>
<% end %>

<%= turbo_stream_from [@post, :comments] %>

<div id="comments_<%= @post.id %>">
  <%= render @post.comments %>
</div>

<p><%= link_to "Back", posts_path %></p>
